body{
    background-color: #a44242!important;
}
#profile-wrapper{
    text-align: center;
}
#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.social{
    height: 1rem;
    width: 20px;
    height: 20px;
}
.ul{
    padding: 0;
    list-style-type: none;
}
.social-links ul,li{
    list-style-type: none;
    display: inline-block;
}
/*.card {
    border: 50px solid yellow !important;
}
*/